*{
  padding: 0;
  margin: 0;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

#character {
  width: 20px;
  height: 50px;
  background-color:pink;
  position: relative;
  top: 150px;
  /* animation: jump is 500ms  infinite; */
}
 .animate {
    animation: jump 500ms;
}
#block {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block ls;
}

@keyframes block{
  0%{left:475px;}
  100%{left:-25px;}
  }
/*
@keyframes jump {
  0%{top: 150px;}
  50%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}  */
