body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('rom.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family:  Roman SD;
  font-weight: 400;
  text-transform: capitalize;
} 
.container {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5625rem;
  background: #E5DBB7;
  opacity: 0.9;
}

button {
  display: block;
  width: 15.625rem;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  color: black;
  background: #FACD1E;
  border-radius: 0.5rem;
  border: 0.125rem solid #FACD1E;
  outline: none;
  text-transform: capitalize;
  font-family:  Roman SD;

}
button:hover {
  opacity: 0.8;
  cursor: pointer;
  color: white;
}
input[type=text] {
  padding: 0.5rem;
  margin: rem;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  border: 0.1875rem solid #D32929;
  outline: none;
  width: 15.625rem;
  text-align: center;
}

input[type=text]:focus {
  box-shadow: 0 0 0.9375rem #D32929;
}

.number-out {
  margin: 0.5rem 0;
  color: #D32929;
  text-shadow: 0.0625rem 0 0 #000, 0 -0.0625rem 0 #000, 0 0.0625rem 0 #000, -0.0625rem 0 0 #000;
}
