body {
  min-height: 100vh;
  font-size: 18px;
  background-image: url('cipher.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: robot reavers;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: -20px;

}
 .container {
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  background: #0FBC63;
  opacity: 0.8;
  flex: 0 0 50%;
  box-shadow: 0 0 15px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  color: white;

}
input[type=text] {
  padding: 8px;
  width: 600px;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 3px solid paleturquoise;
  outline: none;
  text-align: center;
  font-family: robot reavers;
}

input[type=text]:focus {
  box-shadow: 0 0 15px paleturquoise;
}

.word-out {
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 3px solid paleturquoise;
  outline: none;
  width: 580px;
  height: 28px;
  margin: 10px 0 0 0; 
  color:black;

}
