body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b6db94;
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

h1 {
  font-family: Little Paws;
  color:   #8e7dc8;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 40px;
  margin: 20px 0;
}

.container {
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  background: #edebe5;
  flex: 0 0 30%;
  /* margin: 0px 0px 0 0px; */
}

button {
  display: block;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  color: black;
  background:#db94b6;
  border-radius: 8px;
  border: 3px solid  #8e7dc8;
  outline: none;
  text-transform: capitalize;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  color: white;

}
input[type=text] {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 3px solid  #db94b6;
  outline: none;
  box-shadow: 0 0 15px  #8e7dc8;
}

input[type=text]:focus {
  box-shadow: 0 0 15px  #ed9446;
}

.palindrome-out {
  margin: 0.5rem 0;
  color:  #ed9446;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#image {
  height: 300px;
}